/* Mobile Styles */

@media only screen and (max-width: 600px) {
	.site-header {
		padding: 0% 3%;
	}

	#about {
		width: 100%;
		margin: 3%;
	}

	.site-title {
		padding-top: 2%;
	}

	.site-nav {
		padding-top: 1.5%;
	}

	.site-nav li a {
		font-size: 1.3em;
	}

	h1 {
		font-size: 1.6em;
	}

	#contact ul {
		font-size: 1.3em;
	}

	.image-gallery li {
		width: 100%;
	}

	.site-footer {
		padding: 2em;
	}
}



