/* 

Styles for Exercise 2A 
Julia Godsmark 
Oct 3 2014

*/

* {
	margin: 0px;
	padding: 0px;
  	box-sizing: border-box;    
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 62.5%; 
}

p {
	line-height: 1.5;
}

ol {
	list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

.container {
	max-width: 900px; 
	margin: 0 auto;
}

.site-header {
	position: fixed;
	width: 100%;
	height: 10%;
	padding: 0.5% 3%; 
	border-bottom: 3px solid red;
	background-color: white;
}

.inside-header {
	max-width: 900px;
	margin: 0 auto;
}

.site-title {
	float: left;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

.site-nav {
	float: right;
}

.site-nav li {
	display: inline-block;
	padding: 1.5em 0em 0em 1.5em;
}

.site-nav li a {
	font-size: 1.6em;
	color: black;
	text-decoration: none;
}

.site-main {
	padding-top: 6em;
}

#about {
	font-size: 1.6em;
}

#about, #contact {
	margin-left: 51.5%;
	padding: 10% 0%;
}

img {
	max-width: 100%; 
}

.image-gallery li {
	width: 50%;
	float: left;
	padding: 1.5% 1.5%;
}

.image-gallery li:nth-child(even) {
	margin-right: 0%;
}

#contact ul {
	font-size: 1.6em;
	list-style-position: inside; 
}

.site-footer {
	font-size: 1.6em;
	border-top: 3px solid red;
	text-align: center;
	padding: 4em;
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
	.site-header {
		padding: 0% 3%;
	}

	#about {
		width: 100%;
		margin: 3%;
	}

	.site-title {
		padding-top: 2%;
	}

	.site-nav {
		padding-top: 1.5%;
	}

	.site-nav li a {
		font-size: 1.3em;
	}

	h1 {
		font-size: 1.6em;
	}

	#contact ul {
		font-size: 1.3em;
	}

	.image-gallery li {
		width: 100%;
	}

	.site-footer {
		padding: 2em;
	}
}


