/* 

Styles for Exercise 2A 
Julia Godsmark 
Oct 3 2014

*/

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 62.5%;
}

p {
	line-height: 150%;
}

ol {
	list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 
.clearfix {
    *zoom: 1;
}*/

.container {
	max-width: 900px; 
	margin: 0 auto;
}

/* 
make responsive by taking out site header from container 
fixing the site-header and max-width and inside element
*/
.site-header {
	position: fixed;
	width: 100%;
	height: 10%;
	padding: 0.5% 3%; 
	border-bottom: 3px solid red;
	background-color: white;
}

.inside-header {
	max-width: 900px;
	margin: 0 auto;
}

.site-title {
	float: left;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

.site-nav {
	float: right;
}

.site-nav li {
	display: inline-block;
	padding: 1.5em 0em 0em 1.5em;
}

.site-nav li a {
	font-size: 1.6em;
	color: black;
	text-decoration: none;
}

.site-main {
	padding-top: 6em;
}

#about {
	font-size: 1.6em;
}

#about, #contact {
	margin-left: 51.5%;
	padding: 10% 0%;
}

img {
	max-width: 100%; /* need */
}

.image-gallery li {
	width: 47%;
	float: left;
	margin: 1.5% 1.5%;
}

/*.image-gallery li:nth-child(even) {
	margin-right: 0%;
}*/

#contact ul {
	font-size: 1.6em;
	list-style-position: inside; 
}

.site-footer {
	font-size: 1.6em;
	border-top: 3px solid red;
	text-align: center;
	padding: 4em;
}

